body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

.header {
    margin-bottom: 20px;
}

.header p {
    font-size: 2.75rem;
    font-weight: bold;
}

.stats {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.stat {
    margin: 0 20px;
    text-align: center;
}

.number {
    font-size: 3rem;
    color: #c00;
}

.customers {
    text-align: center;
}

.customer-name {
    font-size: 2.5rem;
    color: #c00;
}

p{
    font-size: 18px;
}
