@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap");

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh; /* Asegura que el flexbox funcione para toda la altura de la página */
  background-color: #f5f5f5;
}

.center {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  height: 100%;
}

.container {
  max-width: 600px; /* Hacer más grande el contenedor */
  padding: 30px; /* Más padding para hacerlo más espacioso */
  padding-right: 40px;
  background-color: white;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  text-align: center;
  margin-bottom: -20px;
}

.contenido{
  margin-top: -20px;
}

.uni {
  padding: 15px; /* Aumentar padding para campos */
  margin: 10px 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.boti {
  padding: 20px 35px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px;
  font-size: 16px;
  margin-top: 50px;
  margin-bottom: -30px;
}

.result {
  margin-top: 20px;
  font-size: 1.5em; /* Tamaño de texto más grande */
  color: #333;
  margin-top: 70px;
  margin-bottom: 10px;
}

.io{
  font-size: 50px;
  font-weight: bold;
  margin-top: 15px;
}

.tip {
  font-size: 30px;
  margin: 30px;
}

.especial {
  background-color: black;
  font-weight: bold;
  font-size: 17px;
  margin-left: 20px;
  border-radius: 15px;
  padding: 22px;
}

.header-text {
  white-space: nowrap;
}

/* Estilo del encabezado */
.header {
  background-color: white; /* Rojo */
  padding: 10px;
  display: flex;
  justify-content: space-between; /* Distribuye los elementos horizontalmente */
  align-items: center; /* Centra verticalmente los elementos */
  margin-bottom: 20px;
  margin-top: 20px;
}

.linkedin {
  width: 125px; /* Tamaño del logo de LinkedIn */
  height: 40px; /* Mantiene la proporción */
  margin-left: 20px; /* Espacio entre elementos */
}

.facebook {
  width: 35px; /* Tamaño del logo de Facebook */
  height: auto; /* Mantiene la proporción */
  margin-left: -50px;
}

.mover {
  display: flex; /* Uso de Flexbox para alineación horizontal */
  flex-direction: row; /* Asegura que los elementos estén alineados horizontalmente */
  margin-left: -400px;
}

.pos-f-t{
  display: none;
}
.unica{
  margin-left: -190px;
}

/* Estilo del logo */
.logo {
  width: 160px; /* Doble del ancho actual */
  margin-left: 20px; /* Espacio entre el logo y el borde izquierdo del encabezado */
}

/* Estilo del texto del encabezado */
.header-text {
  font-size: 20px; /* Tamaño de la fuente */
  margin: 0; /* Elimina el margen por defecto */
  color: black; /* Color del texto */
  margin-right: 10px; /* Agrega un margen derecho de 10px */
}

.contenido-segundo {
  display: flex;
  flex-direction: column; /* Organiza los elementos en columna */
  align-items: center; /* Centra horizontalmente los elementos */
  text-align: center; /* Alinea el texto al centro */
  margin-bottom: 20px; /* Espacio entre el contenido */
  background-color: white;
  margin-top: 50px;
}

.titulo{
  font-weight: bold; /* Letras en negrita */
  margin-top: 5vh;
}

.contenido-segundo > div:first-child {
  margin-bottom: 20px; /* Espacio entre el título y las fotos */
}

.service {
  flex-direction: row; /* Mantenemos la orientación en fila */
  margin-bottom: 20px; /* Espacio entre los servicios */
}

.service-image {
  width: 200px; /* Ancho fijo para todas las imágenes */
  height: 150px; /* Altura fija para todas las imágenes */
  object-fit: cover; /* Ajustar la imagen manteniendo su relación de aspecto */
}

.service-title {
  font-size: 18px; /* Ajustar el tamaño de la letra según tu preferencia */
  margin-top: 10px; /* Ajustar el espacio superior */
  color: #000; /* Color de letra negro */
  font-weight: bold; /* Letras en negrita */
}

/* Estilo de los enlaces del encabezado */
.header-link {
  text-decoration: none; /* Elimina el subrayado predeterminado */
  color: black; /* Color del texto */
}

/* Estilo de los enlaces visitados */
.header-link:visited {
  color: black; /* Color del texto cuando se toca */
}

/* Estilo del contenedor de texto del encabezado */
.header-text-container {
  display: flex;
  justify-content: center;
  align-items: center; /* Alinea verticalmente los elementos */
  margin-right: 725px;
  margin-left: 1px;
}

.header-text-container i {
  width: 30px;
  color: black;
  font-size: 8pt;
}

.header-text-container a {
  margin: auto 30px;
  margin-right: 5px;
  margin-left: 15px;
}

.header-text-container a h1 {
  color: black;
  justify-content: space-between;
}

/* Estilo de los botones del encabezado */
.header-link button {
  background-color: #ffffff; /* Color de fondo */
  border: 1px solid #000000; /* Borde */
  padding: 8px 16px; /* Espacio interior */
  color: #000000; /* Color del texto */
  font-size: 16px; /* Tamaño de letra */
  cursor: pointer; /* Cambia el cursor al pasar el ratón */
}

/* Estilo de los botones del encabezado al pasar el ratón */
.header-link button:hover {
  background-color: #000000; /* Color de fondo al pasar el ratón */
  color: #ffffff; /* Color del texto al pasar el ratón */
}

/* Estilo del pie de página */
footer {
  background-color: #000; /* Negro */
  color: #fff; /* Blanco */
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
  width: 150px;
  height: 50px;
}

.menu{
  flex-direction: row;
}

.primer-frase {
  font-weight: bold;
  font-size: 30px; /* Ajustar el tamaño de la letra según tu preferencia */
  margin-top: 10px; /* Ajustar el espacio superior */
  max-width: 100%;
  text-align: center; /* Centrar el texto */
  margin: auto; /* Centrar horizontalmente */
}

.segunda-frase {
  font-size: 17px; /* Ajustar el tamaño de la letra según tu preferencia */
  margin-top: 10px; /* Ajustar el espacio superior */
  max-width: 100%;
  text-align: center; /* Centrar el texto */
  margin: auto; /* Centrar horizontalmente */
}

.texto-captivante {
  display: flex;
  justify-content: space-between; /* Alinear los elementos a los extremos */
  align-items: center; /* Alinear verticalmente los elementos */
}

.texto {
  flex: 1; /* Que ocupe el espacio restante */
}

.img-right {
  max-width: 50%; /* Ajustar el tamaño máximo de la imagen */
  height: 750px; /* Mantener la proporción de la imagen */
  width: 3000px;
}

.primer-frase,
.segunda-frase {
  margin-bottom: 10px; /* Agregar un espacio entre las frases */
}

.comunicacion-interna {
  width: 100%; /* Utiliza el ancho completo del contenedor */
  text-align: center; /* Centra el texto horizontalmente */
  font-size: 60px; /* Tamaño de fuente */
  font-weight: bold; /* Texto en negrita */
  margin-top: 0vh; /* Ajusta el margen superior según sea necesario */
  margin-bottom: 5vh; /* Ajusta el margen inferior según sea necesario */
}

.comunicar{
  width: 80vw;
  margin: auto;
  text-align: center;
  font-size: 20px;
}

.imagensita {
  display: block; /* Asegura que la imagen sea un bloque */
  margin-left: auto; /* Centra la imagen en el lado izquierdo */
  margin-right: auto; /* Centra la imagen en el lado derecho */
  max-width: 50%; /* Limita el ancho máximo de la imagen */
  width: 300px; /* Doble del ancho actual */
  height: 60px;
  margin-top: 8vh;
}

.espacio {
  margin-bottom: 20px; /* Espacio entre los divs de texto y la imagen */
}

.contenido-tercero {
  display: flex;
  justify-content: center; /* Centra horizontalmente los elementos */
  flex-wrap: wrap; /* No permite que los elementos se envuelvan */
  background-color: white; /* Celeste */
  padding: 3vh 100px 5vh 100px; /* Ajusta el espacio interno según sea necesario */
  font-size: 21px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columnas con ancho igualmente distribuido */
  grid-gap: 10px; /* Espacio entre las celdas */
}

.grid-item {
  background-color: #f0f0f0; /* Color de fondo de las celdas */
  padding: 20px; /* Espacio interno */
  text-align: center; /* Texto centrado */
}

.Comu {
  text-align: center; /* Centra el texto horizontalmente */
  font-size: 30px; /* Tamaño de fuente más grande */
  font-weight: bold; /* Texto en negrita */
  margin-bottom: 20px; /* Ajusta el espacio entre los divs según sea necesario */
}

.grid-item{
  background-color: white;
}

.grid-item img {
  width: 100px;
  height: 100px;
}
.texto {
  text-align: center; /* Centrar el texto */
  font-size: 16px; /* Reducir el tamaño de la letra */
  font-weight: normal; /* Quitar la negrita */
}

.clientes{
  text-align: center; /* Centrar el texto */
  font-size: 30px; /* Reducir el tamaño de la letra */
}

.contenido-tercero {
  text-align: center; /* Centrar el texto */
}

.clientes {
  font-size: 24px; /* Tamaño del encabezado */
}

.grid-container2 {
  width: calc(30vw + 40px);
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas con ancho igualmente distribuido */
  grid-gap: 20px; /* Espacio entre las celdas */
}

.grid-item {
  width: 10vw;
  background-color: #f0f0f0; /* Color de fondo de las celdas */
  padding: 20px; /* Espacio interno */
  text-align: center; /* Texto centrado */
  background-color: white;
}


.carousel-item img {
  z-index: 0;
}

.caption-carousel {
  position: absolute;
  z-index: 1;
  top: calc(90vh - 70px);
  left: calc(50vw - (750px / 2));
}

.caption-carousel h5 {
  width: 750px;
  color: white;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 20px;
  font-size: 20pt;
}

.listado {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.listado li {
  width: 20vw;
  margin-right: 20px;
}

.listado li div img {
  width: 20vw;
  height: 16vw;
}

.listado li div h2 {
  font-size: 20pt;
}

.comunicacion {
  padding: 5vh;
  margin-top: 50px;
}

.ultimo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5vh;
}

.ultimo img {
  max-width: 80vw;
  margin: auto;
}

footer p {
  text-align: center;
  margin: 0;
}

.fa-home {
  color: white; /* Establece el color del ícono a blanco */
  position: relative; /* Para que z-index funcione */
  z-index: 10; /* Asegura que el ícono quede en primer plano */
  margin-left: 10px;
  font-size: 24px;
}

.fa-solid{
  color: white; /* Establece el color del ícono a blanco */
  position: relative; /* Para que z-index funcione */
  z-index: 10; /* Asegura que el ícono quede en primer plano */
  margin-left: 10px;
  font-size: 24px;
}

.fa-bell-concierge {
  color: white; /* Establece el color del ícono a blanco */
  font-size: 24px; /* Tamaño del ícono */
  margin-left: 10px;
}

.fa-envelope {
  color: white; /* Hace el ícono de color blanco */
  font-size: 24px; /* Tamaño del ícono */
  position: relative; /* Permite que z-index funcione */
  z-index: 10; /* Asegura que esté por encima de otros elementos */
  margin-left: 10px;
}


/* #ACA */

.CONTENER {
  display: flex; /* Alineación horizontal */
  justify-content: space-between; /* Espacio entre las secciones */
  padding: 20px; /* Espacio interno */
  margin-bottom: -30px;
}

/* Secciones con ancho equilibrado */
.consultoria, .capacitaciones {
  width: 45%; /* Ancho para cada sección */
}

.consultoria{
  font-size: 18px;
}

/* Títulos con subrayado y borde rojo */
.consultoria h2, .capacitaciones h2 {
  text-align: center; /* Centra los títulos */
  margin-bottom: 10px; /* Espacio debajo del título */
  text-decoration: underline; /* Subrayado para el texto */
  border: 4px solid red; /* Borde cuadrado rojo */
  padding: 10px; /* Espacio entre el borde y el contenido */
  background-color: white; /* Fondo blanco para resaltar el borde */
  font-weight: bold;
}

/* Estilo para las listas */
ul {
  list-style-type: disc; /* Viñetas de disco */
  padding-left: 20px; /* Espacio para las viñetas */
  margin-top: 0; /* Evita espacio extra sobre las listas */
}

.comunicacion-interna2{
  width: 100%; /* Utiliza el ancho completo del contenedor */
  text-align: center; /* Centra el texto horizontalmente */
  font-size: 60px; /* Tamaño de fuente */
  font-weight: bold; /* Texto en negrita */
  margin-top: 4vh; /* Ajusta el margen superior según sea necesario */
  margin-bottom: 2vh; /* Ajusta el margen inferior según sea necesario */
}

.total{
  margin-bottom: 50px;
}
/* #ACA */

.contenedor-principal {
  display: flex;
  flex-direction: column; /* Alineación vertical */
  padding: 20px; 
  width: 100%; /* Ancho total del contenedor principal */
}

.titulo-formulario {
  border: 1px solid black;
  border-bottom: none;
  margin: 0;
  padding: 20px;
  border-radius: 10px 10px 0 0;
  background-color: white; 
  text-decoration: underline;
}

.contenido-encuesta {
  display: flex;
  background-color: white; 
  margin-bottom: -28px;
}

.encuesta {
  padding: 20px;
  padding-bottom: 0;
  border: 1px solid black;
  border-right: none;
  border-top: none;
  border-bottom: none;
  width: 100%; /* Ancho completo para el contenedor de la pregunta */
}

.encuesta textarea {
  resize: none;
  height: 85px;
}

.encuesta-multiple-choice {
  padding: 20px; 
  padding-bottom: 0;
  background-color: white; 
  width: 100%; /* Ancho completo para el contenedor de Multiple Choice */
  padding-left: 2px;
  border: 1px solid black;
  border-left: none;
  border-top: none;
  border-bottom: none;
}

.encuesta-multiple-choice label {
  margin-bottom: 10px;
}

.leer2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px; 
}

.leer {
  font-size: 19px; 
}

.campo-texto {
  width: 100%; /* Ancho completo para coincidir con la pregunta */
  height: 100px; 
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  margin-bottom: 30px; /* Espacio entre cuadros de texto */
}

.boton-enviar {
  padding: 15px 30px; 
  background-color: #4CAF50; 
  color: white; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  text-align: center; 
}

.boton-enviar:hover {
  background-color: #45a049; 
}

.unos{
  text-decoration: underline;
}

.caja-boton {
  background-color: white !important;
  border: 1px solid black;
  border-top: none;
  border-radius: 0 0 10px 10px;
  padding: 20px;
}

.form-msg {
  position: absolute;
  top: 30px;
  left: calc(50% - 10vw / 2);
  width: 15vw; 
  height: 14vw;
  display: flex;
  align-items: center;
  padding: 20px;  /* Añade espacio interno */
  border: 3px solid black;
  border-radius: 8px;
  z-index: 999;  /* Alto z-index para estar por encima del resto */
  background: linear-gradient(to bottom, gold, white);  /* Gradiente de oro a blanco */
}

.form-msg p {
  font-size: 20pt;
  color: black;
  margin-bottom: 20px;  /* Espacio entre el texto y el botón */
  font-weight: bold;
  text-align: center;
  font-family: "Quicksand", sans-serif
}

.inactive {
  display: none; 
}

.active {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
}

.header1 {
  margin-bottom: 0px;
}

.header1 p {
  font-size: 2rem;
  font-weight: bold;
}

.stats {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.stat {
  margin: 0 20px;
  text-align: center;
}

.number {
  font-size: 3rem;
  color: #c00;
}

.customers {
  text-align: center;
}

.customer-name {
  font-size: 3rem;
  color: #c00;
}

p{
  font-size: 18px;
}

.centrado {
  width: 100%; /* Utiliza el ancho completo del contenedor */
  text-align: center; /* Centra el texto horizontalmente */
  font-size: 60px; /* Tamaño de fuente */
  font-weight: bold; /* Texto en negrita */
  margin-left: 20px;
}

/* Estilos personalizados para el header */
.header {
  margin-bottom: none;
}

.logo {
  height: 50px; /* Ajusta el tamaño del logo */
}

.nav-link {
  display: flex;
  align-items: center;
  margin-left: 10px; /* Ajusta el espacio entre los enlaces */
}

.nav-link i {
  margin-right: 4px; /* Reduce el espacio entre el icono y el texto */
}

.linkedin.unica, .linkedin.facebook {
  height: 30px; /* Ajusta el tamaño de los iconos de redes sociales */
  margin-left: 10px; /* Espacio entre los iconos de redes sociales */
}

/* Ajustes de espaciado adicional */
.navbar-nav {
  margin-left: 20px; /* Ajusta el margen izquierdo de los enlaces de navegación */
}

.nav-item i{
  color: black;
  width: 10px;
  height: 10px;
  padding-right: 30px;
}

.nav-item {
  margin-left: 1rem;
}

.nav-link{
  margin-left: 100px;
}

@media only screen and (max-width: 480px) {
  .logo{
    margin-left: 250px;
  }

  .navbar {
      padding: 0.5rem;
  }

  .navbar-brand {
      display: flex;
      align-items: center;
  }

  .navbar-brand .logo {
      max-height: 40px;
      margin-right: 0.5rem;
  }

  .navbar-toggler {
      margin-right: 230px;
  }

  .navbar-collapse {
      flex-direction: column;
  }

  .navbar-nav {
      width: 100%;
  }

  .nav-item {
      width: 100%;
      text-align: center;
      margin: 0;
  }

  .nav-link {
      padding: 0.5rem 0;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .nav-link i {
      margin-right: 0.5rem;
  }
  
  .comunicacion-interna{
    font-size: 40px;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .header1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .veras {
    text-align: center;
    width: 100%;
  }

  .centrado {
    text-align: center;
    font-size: 50px;
  }

  .stats, .customers {
    flex-direction: column;
    align-items: center;
  }

  .stat, .customers {
    width: 100%;
    margin-top: 10px;
  }

  .header1, .stats, .customers {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .primera{
    display: none;
  }
  
  .listado {
    flex-direction: column;
  }

  .listado li, .listado li div img {
    width: 90vw;
  }

  .contenido-tercero {
    padding: 5vh 0;
  }

  .grid-container2 {
    width: 90vw;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-item {
    width: 40vw;
  }
    
  header {
    flex-direction: column;
  }

  .header-text-container {
    margin-top: 30px;
    flex-direction: row;
    margin-left: 740px;
  }

  .header-text-container a {
    margin: auto 2px;
    align-items: center;
    justify-content: center;
    margin-left: auto ;
  }

  .header-text-container a h1 {
    justify-content: center;
    align-items: center;
    font-size: 11px;
  }

  .header-text-container i{
    display: none;
  }

  header h1 {
    margin-left: 50px;
  }

  header i {
    display: none;
    margin: 0;
  }
  .mover{
    display: none;
  }

  .unica{
    display: none;
  }

  .CONTENER {
    display: flex; /* Usa Flexbox para la alineación */
    flex-direction: row; /* Mantiene los elementos en línea horizontal */
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    flex-wrap: wrap; /* Permite que los elementos se ajusten si el espacio es limitado */
    width: 100vw; /* Asegura que ocupe todo el ancho de la pantalla */
  }

  .consultoria, .capacitaciones {
    margin: auto; /* Centra el contenido horizontalmente */
    padding: 0px; /* Agrega espacio interno */
}

  .capacitaciones h2{
    font-size: 18px;
  }

  .campo-texto{
    width: 100%;
  }

  .leer{
    width: 100%;
  }

  .encuesta {
    border-right: 1px solid black;
  }

  .encuesta-multiple-choice {
    border-left: 1px solid black;
  }

  .leer2 {
    width: 90vw !important;
  }

  .form-msg{
    display: none;
  }

  .grid-container2{
    margin-left: 60px;
  }

}

@media only screen and (max-width: 1500px) {

  .linkedin{
    display: none;
  }

  /* #ACA */
  .CONTENER {
    display: flex; /* Alineación horizontal */
    justify-content: space-between; /* Espacio entre las secciones */
    padding: 20px; /* Espacio interno */
    margin-bottom: -30px;
  }
  
  /* Secciones con ancho equilibrado */
  .consultoria, .capacitaciones {
    width: 45%; /* Ancho para cada sección */
  }
  
  .consultoria{
    font-size: 18px;
  }
  
  /* Títulos con subrayado y borde rojo */
  .consultoria h2, .capacitaciones h2 {
    text-align: center; /* Centra los títulos */
    margin-bottom: 10px; /* Espacio debajo del título */
    text-decoration: underline; /* Subrayado para el texto */
    border: 4px solid red; /* Borde cuadrado rojo */
    padding: 10px; /* Espacio entre el borde y el contenido */
    background-color: white; /* Fondo blanco para resaltar el borde */
    font-weight: bold;
  }
  
  /* Estilo para las listas */
  ul {
    list-style-type: disc; /* Viñetas de disco */
    padding-left: 20px; /* Espacio para las viñetas */
    margin-top: 0; /* Evita espacio extra sobre las listas */
  }
  
  .comunicacion-interna2{
    width: 100%; /* Utiliza el ancho completo del contenedor */
    text-align: center; /* Centra el texto horizontalmente */
    font-size: 40px; /* Tamaño de fuente */
    font-weight: bold; /* Texto en negrita */
    margin-top: 4vh; /* Ajusta el margen superior según sea necesario */
    margin-bottom: 2vh; /* Ajusta el margen inferior según sea necesario */
  }
  
  /* #ACA */
  
  .contenedor-principal {
    display: flex; /* Para alinear elementos horizontalmente */
    padding: 20px; /* Espacio interno */
    flex-direction: column;
    margin-bottom: -10px;
  }

  .contenido-encuesta {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  
  .unos{
    text-decoration: underline; /* Subrayado para el texto */
  }
  
  .leer{
    font-size: 19px;
  }
  
  .leer2{
    font-size: 22px;
    font-weight: bold;
    width: 150%;
    padding-right: 90px;
  }
  
  .campo-texto {
    width: 100%; /* Ancho completo del campo */
    height: 100px; /* Altura del campo de texto */
    padding: 10px; /* Espacio interno */
    border: 1px solid #ccc; /* Borde del campo de texto */
    border-radius: 5px; /* Bordes redondeados */
    margin-bottom: 20px; /* Espacio entre campos */
  }
  
  .boton-enviar {
    padding: 15px 30px; /* Tamaño del botón */
    background-color: #4CAF50; /* Color del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
  }
  
  .boton-enviar:hover {
    background-color: #45a049; /* Cambia de color al pasar el ratón */
  }
  
  /* Estilo para la encuesta de Multiple Choice */
  .encuesta-multiple-choice {
    padding-left: 20px;
  }
}

@media only screen and (max-width: 850px) {
  .navbar-nav{
    padding-top: 30px;
  }
  
  .navbar-toggler{
    margin-left: 550px;
  }

  .primera{
    display: none;
  }

  .fa-home.vet {
    display: none;
}

  .header-text-container h1{
    font-size: 14px;
  }

  .logo{
    width: 100px;
    height: 40px;
    margin-right: 18px;
  }

  .leer2{
    font-size: 20px;
  }

  .form-msg{
    display: none;
  }

  .grid-container2{
    margin-right: 60px;
  }

  .encuesta-multiple-choice{
    border-left: 1px solid black;
  }

  .encuesta{
    border-right: 1px solid black;
  }

  .tip{
    font-size: 25px;
  }
}
