/* Estilo del encabezado */
.header {
  background-color: red; /* Rojo */
  padding: 10px;
  display: flex;
  justify-content: space-between; /* Distribuye los elementos horizontalmente */
  align-items: center; /* Centra verticalmente los elementos */
}

.linkedin{
  width: 110px;
}

.facebook{
  width: 35px;
  margin-left: 20px;
}

.mover{
  display: flex ;
  max-width: 100%;
  margin-right: 50px;
}

/* Estilo del logo */
.logo {
  width: 160px; /* Doble del ancho actual */
  margin-left: 20px; /* Espacio entre el logo y el borde izquierdo del encabezado */
}

/* Estilo del texto del encabezado */
.header-text {
  font-size: 20px; /* Tamaño de la fuente */
  margin: 0; /* Elimina el margen por defecto */
  color: black; /* Color del texto */
  margin-right: 10px; /* Agrega un margen derecho de 10px */
}

.contenido-segundo {
  display: flex;
  flex-direction: column; /* Organiza los elementos en columna */
  align-items: center; /* Centra horizontalmente los elementos */
  text-align: center; /* Alinea el texto al centro */
  margin-bottom: 20px; /* Espacio entre el contenido */
  background-color: lightblue;
}

.titulo{
  font-weight: bold; /* Letras en negrita */
  margin-top: 5vh;
}

.contenido-segundo > div:first-child {
  margin-bottom: 20px; /* Espacio entre el título y las fotos */
}

.service {
  flex-direction: row; /* Mantenemos la orientación en fila */
  margin-bottom: 20px; /* Espacio entre los servicios */
}

.service-image {
  width: 200px; /* Ancho fijo para todas las imágenes */
  height: 150px; /* Altura fija para todas las imágenes */
  object-fit: cover; /* Ajustar la imagen manteniendo su relación de aspecto */
}

.service-title {
  font-size: 18px; /* Ajustar el tamaño de la letra según tu preferencia */
  margin-top: 10px; /* Ajustar el espacio superior */
  color: #000; /* Color de letra negro */
  font-weight: bold; /* Letras en negrita */
}

/* Estilo de los enlaces del encabezado */
.header-link {
  text-decoration: none; /* Elimina el subrayado predeterminado */
  color: black; /* Color del texto */
}

/* Estilo de los enlaces visitados */
.header-link:visited {
  color: black; /* Color del texto cuando se toca */
}

/* Estilo del contenedor de texto del encabezado */
.header-text-container {
  display: flex;
  justify-content: center;
  align-items: center; /* Alinea verticalmente los elementos */
  margin-right: 400px;
}

.header-text-container i {
  width: 30px;
  color: white;
  font-size: 8pt;
}

.header-text-container a {
  margin: auto 30px;
}

.header-text-container a h1 {
  color: white;
  justify-content: space-between;
}

/* Estilo de los botones del encabezado */
.header-link button {
  background-color: #ffffff; /* Color de fondo */
  border: 1px solid #000000; /* Borde */
  padding: 8px 16px; /* Espacio interior */
  color: #000000; /* Color del texto */
  font-size: 16px; /* Tamaño de letra */
  cursor: pointer; /* Cambia el cursor al pasar el ratón */
}

/* Estilo de los botones del encabezado al pasar el ratón */
.header-link button:hover {
  background-color: #000000; /* Color de fondo al pasar el ratón */
  color: #ffffff; /* Color del texto al pasar el ratón */
}

/* Estilo del pie de página */
footer {
  background-color: #000; /* Negro */
  color: #fff; /* Blanco */
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
  width: 150px;
  height: 50px;
}

.menu{
  flex-direction: row;
}

.primer-frase {
  font-weight: bold;
  font-size: 30px; /* Ajustar el tamaño de la letra según tu preferencia */
  margin-top: 10px; /* Ajustar el espacio superior */
  max-width: 100%;
  text-align: center; /* Centrar el texto */
  margin: auto; /* Centrar horizontalmente */
}

.segunda-frase {
  font-size: 17px; /* Ajustar el tamaño de la letra según tu preferencia */
  margin-top: 10px; /* Ajustar el espacio superior */
  max-width: 100%;
  text-align: center; /* Centrar el texto */
  margin: auto; /* Centrar horizontalmente */
}

.texto-captivante {
  display: flex;
  justify-content: space-between; /* Alinear los elementos a los extremos */
  align-items: center; /* Alinear verticalmente los elementos */
}

.texto {
  flex: 1; /* Que ocupe el espacio restante */
}

.img-right {
  max-width: 50%; /* Ajustar el tamaño máximo de la imagen */
  height: 750px; /* Mantener la proporción de la imagen */
  width: 3000px;
}

.primer-frase,
.segunda-frase {
  margin-bottom: 10px; /* Agregar un espacio entre las frases */
}

.comunicacion-interna {
  width: 100%; /* Utiliza el ancho completo del contenedor */
  text-align: center; /* Centra el texto horizontalmente */
  font-size: 40px; /* Tamaño de fuente */
  font-weight: bold; /* Texto en negrita */
  margin-top: 0vh; /* Ajusta el margen superior según sea necesario */
  margin-bottom: 5vh; /* Ajusta el margen inferior según sea necesario */
}

.comunicar{
  width: 80vw;
  margin: auto;
  text-align: center;
  font-size: 20px;
}

.imagensita {
  display: block; /* Asegura que la imagen sea un bloque */
  margin-left: auto; /* Centra la imagen en el lado izquierdo */
  margin-right: auto; /* Centra la imagen en el lado derecho */
  max-width: 50%; /* Limita el ancho máximo de la imagen */
  width: 300px; /* Doble del ancho actual */
  height: 60px;
  margin-top: 5vh;
}

.espacio {
  margin-bottom: 20px; /* Espacio entre los divs de texto y la imagen */
}

.contenido-tercero {
  display: flex;
  justify-content: center; /* Centra horizontalmente los elementos */
  flex-wrap: wrap; /* No permite que los elementos se envuelvan */
  background-color: #ADD8E6; /* Celeste */
  padding: 3vh 100px 5vh 100px; /* Ajusta el espacio interno según sea necesario */
  font-size: 21px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columnas con ancho igualmente distribuido */
  grid-gap: 10px; /* Espacio entre las celdas */
}

.grid-item {
  background-color: #f0f0f0; /* Color de fondo de las celdas */
  padding: 20px; /* Espacio interno */
  text-align: center; /* Texto centrado */
}

.Comu {
  text-align: center; /* Centra el texto horizontalmente */
  font-size: 30px; /* Tamaño de fuente más grande */
  font-weight: bold; /* Texto en negrita */
  margin-bottom: 20px; /* Ajusta el espacio entre los divs según sea necesario */
}

.grid-item{
  background-color: lightblue;
}

.grid-item img {
  width: 100px;
  height: 100px;
}
.texto {
  text-align: center; /* Centrar el texto */
  font-size: 16px; /* Reducir el tamaño de la letra */
  font-weight: normal; /* Quitar la negrita */
}

.clientes{
  text-align: center; /* Centrar el texto */
  font-size: 30px; /* Reducir el tamaño de la letra */
}

.contenido-tercero {
  text-align: center; /* Centrar el texto */
}

.clientes {
  font-size: 24px; /* Tamaño del encabezado */
}

.grid-container2 {
  width: calc(30vw + 40px);
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas con ancho igualmente distribuido */
  grid-gap: 20px; /* Espacio entre las celdas */
}

.grid-item {
  width: 10vw;
  background-color: #f0f0f0; /* Color de fondo de las celdas */
  padding: 20px; /* Espacio interno */
  text-align: center; /* Texto centrado */
  background-color: white;
}


.carousel-item img {
  z-index: 0;
}

.caption-carousel {
  position: absolute;
  z-index: 1;
  top: calc(90vh - 70px);
  left: calc(50vw - (750px / 2));
}

.caption-carousel h5 {
  width: 750px;
  color: white;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 20px;
  font-size: 20pt;
}

.listado {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.listado li {
  width: 20vw;
  margin-right: 20px;
}

.listado li div img {
  width: 20vw;
  height: 16vw;
}

.listado li div h2 {
  font-size: 20pt;
}

.comunicacion {
  padding: 5vh;
}

.ultimo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5vh;
}

.ultimo img {
  max-width: 80vw;
  margin: auto;
}

footer p {
  text-align: center;
  margin: 0;
}

@media only screen and (max-width: 460px) {
  .listado {
    flex-direction: column;
  }

  .listado li, .listado li div img {
    width: 90vw;
  }

  .contenido-tercero {
    padding: 5vh 0;
  }

  .grid-container2 {
    width: 90vw;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-item {
    width: 40vw;
  }

  header {
    flex-direction: column;
  }

  .header-text-container {
    justify-content: center;
    margin-top: 10px;
  }

  .header-text-container a {
    margin: auto 5px;
  }

  header h1 {
    margin: 0;
  }

  header i {
    display: none;
    margin: 0;
  }
  .mover{
    display: none;
  }

}